{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

<div id="slideshow_container" style="position: relative; top: 0px; left: 0px; width: 1170px; height: 390px; overflow: hidden; ">
      <div u="loading" style="position: absolute; top: 0px; left: 0px;">
          <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
              background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
          </div>
          <div style="position: absolute; display: block; background: url(themes/simpletheme/jssor/img/loading.gif) no-repeat center center;
              top: 0px; left: 0px;width: 100%;height:100%;">
          </div>
      </div>

      <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1170px; height: 390px; overflow: hidden;">
        {% for row in rows %}
          <div{{ row.attributes }}>
            {{ row.content }}
          </div>
        {% endfor %}    
      </div>
      <div u="navigator" class="jssorb05" style="position: absolute; bottom: 16px; right: 6px;">
          <div u="prototype" style="POSITION: absolute; WIDTH: 16px; HEIGHT: 16px;"></div>
      </div>
      <span u="arrowleft" class="jssora12l" style="width: 30px; height: 46px; top: 123px; left: 0px;">
      </span>
      <span u="arrowright" class="jssora12r" style="width: 30px; height: 46px; top: 123px; right: 0px">
      </span>
  </div>