/* line 2, ../sass/view.scss */
.home-lastest-news .views-col {
  float: left;
  padding-right: 1em;
}
/* line 5, ../sass/view.scss */
.home-lastest-news .views-col:col-3 {
  padding-right: 0;
}
@media (max-width: 991px) {
  /* line 10, ../sass/view.scss */
  .home-lastest-news .views-col {
    width: 100% !important;
    padding: 0;
  }
}
